.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & h1 {
    margin: 0;
    padding: 0;
  }
}

.button {
  display: block;
  width: 100%;
  background-color: rgb(139, 165, 250);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
