<div class="page-container">

  <div *ngIf="loggedIn===true">
    <div class="flex">
      <h1>Welcome</h1>
      <button (click)="logout()" class="button">
        Logout
      </button>
    </div>
    <h2>Logged in successfully!</h2>

  </div>
  <div *ngIf="loggedIn===false">
    <h1>Welcome</h1>
    <h2>
      You need to login to view this page.
    </h2>
    <a routerLink="/login">Go to Login</a>
  </div>
</div>