<div class="page-container">
  <div class="form-container">
    <p class="title">Login to continue</p>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input-group">
        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" formControlName="username"
          placeholder="eg: mmsramakrishna8">
        <div *ngIf="submitted && formControl.username.errors" class="text-danger">
          <div *ngIf="formControl.username.errors.min">Username must be atleast 8 characters.</div>
          <div *ngIf="formControl.username.errors.max">Username must be less than 18 characters.</div>
          <div *ngIf="formControl.username.errors.required">Username is required.</div>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="inputPassword" formControlName="password" placeholder="eg: 12345678">
        <div *ngIf="submitted && formControl.password.errors" class="text-danger">
          <div *ngIf="formControl.password.errors.min">Password must be atleast 8 characters.</div>
          <div *ngIf="formControl.password.errors.max">Password must be less than 18 characters.</div>
          <div *ngIf="formControl.password.errors.required">Password is required.</div>
        </div>
      </div>
      <button type="submit" class="sign">Sign in</button>
    </form>
  </div>
</div>