/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(12, 18, 29);
  color: rgba(243, 244, 246, 1);
}
